@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mervale Script";
    src: local("Mervale Script"),
      url("../src/fonts/MervaleScript-Regular.otf") format("opentype");
    font-weight: normal;
  }

  .mervale-font {
    font-family: 'Mervale Script', cursive;
    color: #876806;
  }
 html, body {
  max-width: 100%;
  overflow-x: hidden;
 
}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

input[type="time"] {
  color: #876806;
}

input[type="date"] {
  color: #876806; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #0f0f0f inset !important;
  -webkit-text-fill-color: #876806 !important; 
  caret-color: #876806 !important;
  transition: background-color 5000s ease-in-out 0s;
}

