@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mervale Script";
    src: local("Mervale Script"),
      url("../src/fonts/MervaleScript-Regular.otf") format("opentype");
    font-weight: normal;
  }

  .mervale-font {
    font-family: 'Mervale Script', cursive;
    color: #876806;
  }
 html, body {
  max-width: 100%;
  overflow-x: hidden;
 
}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
